@using Shopping_Tutorial.Models.Vnpay
@model PaymentResponseModel

@{
    ViewData["Title"] = "Kết quả thông báo giao dịch thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h5>Thanh toán VNPAY thành công với :</h5>
<h6>OrderId: @Model.OrderId</h6>
<h6>OrderInfor: @Model.OrderDescription</h6>
<h6>Tổng tiền: @Model.PaymentMethod</h6>
<h6>Mã giao dịch: @Model.TransactionId</h6>
<h6>Mã thanh toán: @Model.PaymentId</h6>
<h5>Xem <a asp-action="History" asp-controller="Account">lịch sử đơn hàng</a> tại đây!</h5>