@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Web bán hàng ASP.NET8";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Paginate pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;

        pageNo = pager.CurrentPage;
    }
}
<partial name="_SliderPartial" />
<div class="col-sm-3">
    <partial name="_SidebarPartial" />
</div>
<div class="col-sm-9 padding-right">

    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Features Items</h2>

        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">

                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
                                <img src="~/media/products/@item.Image" alt="@item.Name" width="100px" height="200px" />
                                <h2>@item.Price.ToString("#,##0 VNĐ")</h2>
                                <p>@item.Name</p>
                                <p>Danh mục: @item.Category.Name</p>
                                <p>Thương hiệu : @item.Brand.Name</p>
                            </a>
                            @* <a asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a> *@
                            @if (item.Quantity > 0)
                            {
                                        <a class="btn btn-primary" asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
                                        Chi tiết sản phẩm</a>
                            }
                            else
                            {
                                <button class="btn btn-default" disabled><i class="fa fa-shopping-cart"></i>Hết hàng</button>
                            }
                            @* <button class="btn btn-default add-to-cart" data-product_id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</button> *@
                        </div>

                        @* Hiệu ứng động *@
                        @* 	<div class="product-overlay">
							<div class="overlay-content">
								<img src="~/images/@item.Image" alt="@item.Name" width="100%" />
								<h2>@item.Price</h2>
								<p>@item.Name</p>
								<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
						</div> *@
                    </div>
                    <div class="choose">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <ul class="nav nav-pills nav-justified">
                                <li><a style="cursor:pointer" class="add-btn-wishlist" data-product_id="@item.Id"><i class="fa fa-plus-square "></i>Thêm yêu thích</a></li>
                                <li><a style="cursor:pointer" class="add-btn-compare" data-product_id="@item.Id"><i class="fa fa-plus-square"></i>Thêm so sánh</a></li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        }
    </div><!--features_items-->
    <partial name="_Paging" model="@pager" />
</div>
@section scripts {
    <script>
        $('.add-to-cart').click(function () {
                var Id = $(this).data("product_id");

                //alert(product_id);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Add", "Cart")",
                    data: { Id: Id }, // Send data to the server

                    success: function (result) {
                        // Handle successful update
                        if (result) {

                            Swal.fire("Thêm giỏ hàng thành công.");
                        }
                    }

                });
            });
    </script>

    <!--Thêm yêu thích bằng AJAX-->
    <script>
        $('.add-btn-wishlist').click(function () {
                var Id = $(this).data("product_id");
                //alert(product_id);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddWishList", "Home")",
                    data: { Id: Id }, // Gửi data đến server
                    success: function (result) {
                        Swal.fire(result.message); // Hiển thị thông báo từ server
                    },
                    error: function () {
                        Swal.fire("Có lỗi xảy ra, vui lòng thử lại!");
                    }
                });
            });
    </script>

    <!--Thêm so sánh bằng AJAX-->
    <script>
        $('.add-btn-compare').click(function () {
                var Id = $(this).data("product_id");
                //alert(product_id);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddCompare", "Home")",
                    data: { Id: Id }, // Gửi data đến server
                    success: function (result) {
                        Swal.fire(result.message); // Hiển thị thông báo từ server
                    },
                    error: function () {
                        Swal.fire("Có lỗi xảy ra, vui lòng thử lại!");
                    }
                });
            });
    </script>


}
